src/main/resources/student.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://kholty.com/student"
           xmlns:tns="http://kholty.com/student"
           elementFormDefault="qualified">

    <xs:element name="student">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id"    type="xs:long"/>
                <xs:element name="name"   type="xs:string"/>
                <xs:element name="email" type="xs:string"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name"   type="xs:string"/>
                <xs:element name="email" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:StudentType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStudentRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getStudentResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:StudentType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllStudentsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllStudentsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="tns:StudentType"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="id"    type="xs:long"/>
            <xs:element name="name"   type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>